POSTGRES_DB=sofoyo
POSTGRES_USER=sofoyo
POSTGRES_PASSWORD=change-this-db-password
STRAPI_URL=http://cms:1337
PUBLIC_STRAPI_URL=http://localhost:1337
PUBLIC_SITE_URL=http://localhost:4321
STRAPI_API_TOKEN=
APP_KEYS=changeMe1,changeMe2,changeMe3,changeMe4
API_TOKEN_SALT=changeMeTokenSalt
ADMIN_JWT_SECRET=changeMeAdminJwt
TRANSFER_TOKEN_SALT=changeMeTransferSalt
JWT_SECRET=changeMeJwt
