---
import type { SiteConfig } from '../lib/api';

type Props = {
  siteConfig: SiteConfig;
};

const { siteConfig } = Astro.props;
---

<footer class="site-footer">
  <div class="shell site-footer__grid">
    <div>
      <p class="site-footer__title">{siteConfig.siteName}</p>
      <p>{siteConfig.footerText}</p>
      <p class="site-footer__beian">
        <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="noreferrer">
          闽ICP备2021007668号
        </a>
      </p>
    </div>
    <div>
      <p class="site-footer__title">联系信息</p>
      <p>{siteConfig.contactPhone || '待补充'}</p>
      <p>{siteConfig.contactEmail || '待补充'}</p>
      <p>{siteConfig.address || '待补充'}</p>
    </div>
  </div>
</footer>
