HOST=0.0.0.0
PORT=1337
APP_KEYS=changeMe1,changeMe2,changeMe3,changeMe4
API_TOKEN_SALT=changeMeTokenSalt
ADMIN_JWT_SECRET=changeMeAdminJwt
TRANSFER_TOKEN_SALT=changeMeTransferSalt
JWT_SECRET=changeMeJwt
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=sofoyo
DATABASE_USERNAME=sofoyo
DATABASE_PASSWORD=sofoyo
DATABASE_SSL=false
